
.timer {
    background: black;
}

.timer table {
    visibility: hidden;
    background: black;
    font-family: Arial;
    font-weight: bold;
    border: 2px outset;
    text-align: center;
}

.timer tr {
    text-align: center;
}

.name {
    margin-top: 15px;
    color: yellow;
    font-size: 40pt;
    font-family: Verdana;
}

.hidden {
   display: none;
   visibility: hidden;
}

.bar {
    margin-top: 15px;
    color: black;
    font-size: 40pt;
    font-family: Verdana;
}

.digits {
    margin-top: 15px;
    color: chartreuse;
    font-size: 40pt;
    font-family: Verdana;
}

.hours, .minutes, .seconds {
    margin-left: 3px;
}

.hours, .minutes {
    margin-right: 5px;
}

.field {
    color: yellow;
}

.start, .pause, .resume, .close {
    width: 80px;
    padding:0 3px 0 3px;
    -webkit-padding-start: 0;
    font-size: 35pt;
    font-family: Verdana;
    text-align: center;
}